
body div div{
	/*position: absolute;*/
}

#react-cm {
	border: 1px solid black;
}

#App {
	border: 1px solid black;
	position: relative;
	width: 833px;
	height: 544px;
}

#Header {
	border: 1px solid black;
	width: 815px;
	height: 71px;
	top: 0px;
	left: 7px;
}

#Footer {
	border: 1px solid black;
	width: 815px;
	height: 71px;
	top: 469px;
	left: 7px;
}

#ES5Editor {
	border: 1px solid black;
	width: 815px;
	height: 323px;
	top: 102px;
	left: 7px;
}

#ES6 {
	border: 1px solid black;
	width: 410px;
	height: 172px;
	top: 7px;
	left: 381px;
}

#ToolTips {
	border: 1px solid black;
	width: 408px;
	height: 114px;
	top: 195px;
	left: 384px;
}
